{% extends "base.html" %} {% block title %}Home - My Inventory App{% endblock %}
{% block content %}
  <title>Add a New Movie</title>

  <body>
    <h1>Add a New Movie</h1>
    <form method="post">
      <input type="text" name="make" placeholder="make" required />
      <input type="text" name="model" placeholder="model" required />
      <input type="text" name="color" placeholder="color" required />
      <input
        type="number"
        name="horsepower"
        placeholder="horsepower"
        required
      />
      <input type="number" name="year" placeholder="year" required />
      <input type="number" name="odometer" placeholder="odometer" required />

      <input type="submit" value="Add Movie" />
    </form>
  </body>
</html>
{% endblock %}
