{% extends "base.html" %} {% block title %}Add Car - My Inventory App{% endblock
%} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='add.css') }}" />

<form method="post" enctype="multipart/form-data">
  <label for="formFile" class="form-label">Upload Car Image</label>
  <input class="form-control mb-2" type="text" name="make" placeholder="Make" />
  <input
    class="form-control mb-2"
    type="text"
    name="model"
    placeholder="Model"
  />
  <input
    class="form-control mb-2"
    type="text"
    name="color"
    placeholder="Color"
  />
  <input
    class="form-control mb-2"
    type="number"
    name="horsepower"
    placeholder="Horsepower"
  />
  <input
    class="form-control mb-2"
    type="number"
    name="year"
    placeholder="Year"
    required
  />
  <input
    class="form-control mb-2"
    type="number"
    name="odometer"
    placeholder="Odometer"
    required
  />
  <input class="form-control mb-2" type="file" name="image" />
  <button type="submit" class="btn btn-primary">Add Car</button>
</form>
{% endblock %}
