{% extends "base.html" %} {% block title %}Update Car{% endblock %} {% block
content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/edit.css') }}"
/>
<div class="container">
  <h2>Update Car</h2>
  <form method="POST">
    <label>Make:</label>
    <input type="text" name="make" value="{{ car.make }}" /><br />

    <label>Model:</label>
    <input type="text" name="model" value="{{ car.model }}" /><br />

    <label>Color:</label>
    <input type="text" name="color" value="{{ car.color }}" /><br />

    <label>Horsepower:</label>
    <input type="number" name="horsepower" value="{{ car.horsepower }}" /><br />

    <label>Year:</label>
    <input type="number" name="year" value="{{ car.year }}" /><br />

    <label>Odometer:</label>
    <input type="number" name="odometer" value="{{ car.odometer }}" /><br />

    <label>Engine type:</label>
    <input type="text" name="engine" value="{{ car.engine }}" /><br />

    <label>Image:</label>
    <input class="form-control mb-2" type="file" name="image" />

    <button type="submit">Save Changes</button>
  </form>
  <form action="{{ url_for('delete_item') }}" method="POST">
    <input type="hidden" name="id" value="{{ car.id }}" />
    <button type="submit">Delete</button>
  </form>
</div>
{% endblock %}
