{% extends "base.html" %} {% block title %}Home - My Inventory App{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    {% for car in cars %}
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="{{ url_for('car_image', car_id=car.id) }}"
          alt="Card image cap"
          width="300"
        />
        <div class="card-body">
          <h5 class="card-title">{{ car.make }} {{ car.model }}</h5>
          <p>Make: {{ car.make }}</p>
          <p>Model: {{ car.model }}</p>
          <p>Color: {{ car.color }}</p>
          <p>Horsepower: {{ car.horsepower }}</p>
          <p>Year: {{ car.year }}</p>
          <p>Odometer: {{ car.odometer }}</p>
          <a
            href="{{ url_for('view_item', id=car.id) }}"
            class="btn btn-primary"
            >View</a
          >
          <a
            href="{{ url_for('update_car', car_id=car.id) }}"
            class="btn btn-secondary"
            >Update Car</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
