<!-- Template for search results -->
{% extends "base.html" %} {% block title %} Search - My Inventory App {%
endblock %} {% block content %}
<link
  rel="stylesheet"
  link
  href="{{ url_for('static', filename='css/search.css') }}"
/>
<form action="{{ url_for('search_items') }}" method="get" class="d-flex mb-3">
  <input
    class="form-control me-2"
    type="search"
    name="query"
    placeholder="General Search"
  />

  <input
    class="form-control me-2"
    type="number"
    name="year"
    placeholder="Year"
  />

  <input class="form-control me-2" type="text" name="make" placeholder="Make" />

  <button class="btn" type="submit">Search</button>
</form>
{% if items %}
<ul class="list-group">
  {% for car in items %}
  <li class="list-group-item">
    <strong>{{ car.make }}</strong> {{ car.model }} ({{ car.year }}) - Color: {{
    car.color }} - Odometer: {{ car.odometer }} km - Engine: {{car.engine}}
  </li>
  {% endfor %}
</ul>

{% else %}
<p>No cars found.</p>
{% endif %} {% endblock %}
