{% extends "base.html" %} {% block title %}Home - My Inventory App{% endblock %}
{% block content %}
<h1>VEIW</h1>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="{{ url_for('car_image', car_id=car.id) }}"
          alt="Card image cap"
          width="300"
        />
        <div class="card-body">
          <h5 class="card-title">{{ car['make'] }} {{ car['model'] }}</h5>
          <p class="card-text">
            <p><td>Make: {{ car['make'] }}</td></p>
            <p><td>Model: {{ car['model'] }}</td></p>
            <p><td>Color: {{ car['color'] }}</td></p>
            <p><td>Horsepower: {{ car['horsepower'] }}</td></p>
            <p><td>Year: {{ car['year'] }}</td></p>
            <p><td>odometer: {{ car['odometer'] }}</td></p>
  
          </p>
          <a href="/veiw" class="btn btn-primary">Veiw</a>
          <a href="#" class="btn btn-">Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
